.div1 {
    background: url("../imgs/nav1.png") no-repeat 0 0 #ccc;
}

.div2 {
    background: url("../imgs/b-car.png") no-repeat 0 0 #ccc;
}

.div3 {
    background: url("../imgs/small-bell-icon.png") no-repeat 0 0 #ccc;
    width:100px;
    background-size: 10px 20px;
    -webkit-background-size:20px 30px;
    background-color:green;
    left:100px;
    width:300px;
    height:200px;



}